.App {
  background: rgb(139, 138, 138);
}

.auth_column {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.auth_block {
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 378px;
  width: 436px;
}

.auth_logo {
  align-self: center;
  border-radius: 4px;
  height: 45 px;
  margin: 76px auto 37px;
  max-width: 208px;
}

.auth_editors {
  align-items: center;
  align-self: center;
  justify-content: center;
}

.auth_editor {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  height: 32px;
  margin-top: 30px;
  width: 364px;
}

.login_editor_input {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 0 3px 1px;
  width: 100%;
}

.auth_button {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 30px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 4px;
  color: white;
  height: 40px;
  width: 117px;
}